.base {
  box-sizing: border-box;
  font-family: inherit;
  position: relative;
}

.base__image {
  /*aspect-ratio: 1 / 1; */
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
}
