@import "../styles/variables.css";
@import "../styles/light.theme.css";
@import "../styles/dark.theme.css";

@theme inline {
  --breakpoint-mobile: 24.375rem;
  --breakpoint-tablet: 46.5rem;
  --breakpoint-desktop: 90rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --color-background: var(--background);
  --color-black: var(--black);
  --color-button-background: var(--button-background);
  --color-button-background-disabled: var(--button-background-disabled);
  --color-button-background-hover: var(--button-background-hover);
  --color-button-border: var(--button-border);
  --color-button-text: var(--button-text);
  --color-button-text-disabled: var(--button-text-disabled);
  --color-chromatic: var(--chromatic);
  --color-dark-blue-background: var(--dark-blue-background);
  --color-dark-blue-foreground: var(--dark-blue-foreground);
  --color-foreground: var(--foreground);
  --color-gray: var(--gray);
  --color-input-background: var(--input-background);
  --color-input-border: var(--input-border);
  --color-input-icon: var(--input-icon);
  --color-input-placeholder: var(--input-placeholder);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-white: var(--white);
}
