@import "../styles/variables.css";
@import "../styles/light.theme.css";
@import "../styles/dark.theme.css";

@theme inline {
  --color-background: var(--background);
  --color-black: var(--black);
  --color-chromatic: var(--chromatic);
  --color-foreground: var(--foreground);
  --color-input-background: var(--input-background);
  --color-input-border: var(--input-border);
  --color-input-icon: var(--input-icon);
  --color-input-placeholder: var(--input-placeholder);
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-white: var(--white);
}
