.base {
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  display: flex;
  font-family: inherit;
  gap: 16px;
  outline: none;
  padding: 16px;
}

.base__arrow {
  color: var(--neutral-600);
  height: 24px;
  min-height: 24px;
  min-width: min(100%, 24px);
  transform: rotate(180deg);
  width: 24px;
}

.base__body {
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.base__content {
  display: flex;
  padding: 0;
  width: 100%;
}

.base__header {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  gap: 16px;
  letter-spacing: 0;
  line-height: 100%;
  outline: none;
  padding: 0;
  width: 100%;
  &::marker {
    content: "";
  }
}

.base__body[open] .base__header {
  border-bottom: 1px solid var(--neutral-200);
  min-height: 40px;
}

.base__body[open] .base__arrow {
  transform: rotate(0deg);
}

.base__header_content {
  align-items: center;
  display: flex;
  gap: 16px;
  height: 100%;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}
