.base {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  outline: none;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &:focus {
    outline: none;
  }
}

.base__container {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  outline: none;
  width: 100%;
}

.base__wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  span {
    font-weight: 400;
    font-size: 14px;
  }
}
