.base {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
}

.base__header {
  align-items: center;
  display: flex;
  gap: 16px;
}

.base__header_icons {
  align-items: center;
  display: flex;
  gap: 8px;
}

.base__close_icon {
  align-self: flex-start;
  cursor: pointer;
}
