/* PENDING: */

.base {
  align-items: center;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding-right: 32px;
  width: 100%;
}

.base__actions {
  align-items: center;
  display: flex;
  gap: 16px;
}
