.base {
  align-items: center;
  flex: 1;
  height: 100%;
  justify-content: center;
  padding-top: 98px;
  width: 100%;
}

.base__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 311px;
}
