.base__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  padding: 0px;
}

.base__content_error {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  justify-content: center;
}

.base__info {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
