.base {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  width: 100%;
}

.base__body {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
}

.base__info {
  align-items: center;
  display: flex;
  gap: 4px;
}
