.base__container {
  display: flex;
  gap: 0;
  height: 100%;
}

.base__body {
  flex: 1;
}

.base__image {
  border-radius: 16px;
  margin: auto;
  object-fit: contain;
  user-select: none;
}

.base__image_container {
  border-radius: 16px;
  display: flex;
  position: relative;
}

.base__poster {
  align-items: center;
  flex: 1;
  justify-content: center;
  padding: 24px 12px 24px 24px;
}
