[data-theme="dark"] {
  --background: #0a0a0a;
  --black: #000000;
  --button-background: #474747;
  --button-background-disabled: #171717;
  --button-background-hover: #525252;
  --button-border: transparent;
  --button-text: #ffffff;
  --button-text-disabled: #525252;
  --chromatic-inverted: #ffffff;
  --chromatic: #000000;
  --foreground: #ffffff;
  --gray: #737373;
  --input-background: #171717;
  --input-border: #262626;
  --input-icon: #525252;
  --input-placeholder: #525252;
  --neutral-100: #171717;
  --neutral-200: #262626;
  --neutral-300: #474747;
  --neutral-400: #525252;
  --neutral-50: #0a0a0a;
  --neutral-500: #737373;
  --neutral-600: #a1a1a1;
  --neutral-700: #d4d4d4;
  --neutral-800: #e5e5e5;
  --neutral-900: #f5f5f5;
  --neutral-950: #fafafa;
  --warning-100: #f7edcf;
  --warning-200: #e09f32;
  --warning-300: #8b621d;
  --white: #ffffff;
}
