[data-theme="light"] {
  --background: #f5f5f5;
  --black: #000000;
  --chromatic-inverted: #000000;
  --chromatic: #ffffff;
  --foreground: #000000;
  --input-background: #f5f5f5;
  --input-border: #e5e5e5;
  --input-icon: #737373;
  --input-placeholder: #737373;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a1a1a1;
  --neutral-50: #fafafa;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #474747;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  --warning-100: #f7edcf;
  --warning-200: #e09f32;
  --warning-300: #8b621d;
  --white: #ffffff;
}
