.init-box {
  box-sizing: border-box;
  font-family: inherit;
}

.responsive-image-contain {
  aspect-ratio: 1 / 1;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: auto;
  object-fit: contain;
  width: 100%;
}

.responsive-image-cover {
  aspect-ratio: 1 / 1;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: auto;
  object-fit: cover;
  width: 100%;
}
