:root {
  --background: #f5f5f5;
  --black: #000000;
  --button-background: #ffffff;
  --button-background-disabled: #171717;
  --button-background-hover: #fafafa;
  --button-border: #e5e5e5;
  --button-text: #262626;
  --button-text-disabled: #525252;
  --chromatic-inverted: #000000;
  --chromatic: #ffffff;
  --foreground: #000000;
  --gray: #737373;
  --input-background: #f5f5f5;
  --input-border: #e5e5e5;
  --input-icon: #737373;
  --input-placeholder: #737373;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a1a1a1;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #474747;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  --red-50: #fbf2f2;
  --red-100: #f6e2e2;
  --red-200: #f1cbcb;
  --red-300: #e9a4a5;
  --red-400: #df696c;
  --red-500: #d63941;
  --red-600: #c40e23;
  --red-700: #a30d1c;
  --red-800: #86161c;
  --red-900: #6e1d1f;
  --red-950: #3b0b0c;
  --warning-100: #f7edcf;
  --warning-200: #e09f32;
  --warning-300: #8b621d;
  --white: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --black: #000000;
    --button-background: #474747;
    --button-background-disabled: #171717;
    --button-background-hover: #525252;
    --button-border: transparent;
    --button-text: #ffffff;
    --button-text-disabled: #525252;
    --chromatic-inverted: #ffffff;
    --chromatic: #000000;
    --foreground: #ffffff;
    --gray: #737373;
    --input-background: #171717;
    --input-border: #262626;
    --input-icon: #525252;
    --input-placeholder: #525252;
    --neutral-50: #0a0a0a;
    --neutral-100: #171717;
    --neutral-200: #262626;
    --neutral-300: #474747;
    --neutral-400: #525252;
    --neutral-500: #737373;
    --neutral-600: #a1a1a1;
    --neutral-700: #d4d4d4;
    --neutral-800: #e5e5e5;
    --neutral-900: #f5f5f5;
    --neutral-950: #fafafa;
    --warning-100: #f7edcf;
    --warning-200: #e09f32;
    --warning-300: #8b621d;
    --white: #ffffff;
  }
}
