.base {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  max-width: 352px;
  width: 100%;
}

.base__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.base__row {
  display: flex;
  width: 100%;
}
