.base__body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0;
  flex: 1;
}

.base__header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
}

.base__info {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  width: 100%;
}

.base__invoices {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
}

.base__invoices_empty {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0;
  justify-content: center;
}

.base__invoices_error {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0;
  justify-content: center;
}

.base__payment {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 0;
}
