.base {
  align-items: center;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 400;
  gap: 8px;
  justify-content: center;
  letter-spacing: 0px;
  line-height: 100%;
  min-height: 24px;
  outline: none;
  padding: 0px 16px;
  width: fit-content;
}
