.base {
  align-items: center;
  display: flex;
  font-family: inherit;
  height: 100%;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
}

.base__container {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 16px;
  max-width: 295px;
}

.base__content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
