.base {
  display: flex;
  flex-direction: column;
}

.base__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0;
  overflow: auto;
}

.base__header {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
}
