.base {
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  gap: 16px;
  letter-spacing: 0;
  line-height: 16px;
  max-width: 352px;
  min-height: 64px;
  min-width: min(352px, 100%);
  padding: 16px;
  word-break: break-word;
}
