.base {
  align-items: center;
  display: flex;
  font-family: inherit;
  width: 100%;
}

.base__radio {
  border-radius: 50%;
}

.base__indicator {
  align-items: center;
  display: flex;
  justify-content: center;
}

.base__indicator_inner {
  border-radius: 50%;
}
