.base {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  letter-spacing: 0;
  line-height: 100%;
  outline: none;
  transition: all 0.1s ease-in-out;
  word-break: break-word;
  &:disabled {
    cursor: not-allowed;
  }
}

.base__spinner {
  width: 24px;
  height: 24px;
  border: 3px solid transparent;
  border-top: 3px solid currentColor;
  color: inherit;
  border-right: 3px solid currentColor;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.base__spinner_wide {
  width: 24px;
  height: 24px;
  border: 3px solid transparent;
  border-top: 3px solid currentColor;
  color: inherit;
  border-right: 3px solid currentColor;
  border-bottom: 3px solid currentColor;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

.base__spinner_container {
  align-items: center;
  display: flex;
  color: inherit;
  height: 24px;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  width: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
