.base {
  align-items: center;
  box-sizing: border-box;
  font-family: inherit;
  justify-content: center;
  letter-spacing: 0;
  line-height: 100%;
  outline: none;
  position: relative;
  & > * {
    flex: 1;
    min-width: 0;
  }
}

.base__username_container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: relative;
  width: 100%;
}

.base__username_container_text {
  letter-spacing: 0;
  line-height: 100%;
}
