.base {
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  gap: 8px;
  justify-content: center;
  min-height: 96px;
  padding: 8px 48px;
  width: 100%;
}

.base__container {
  align-items: center;
  display: flex;
  gap: 8px;
  padding: 0;
}

.base__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 8px;
  padding: 0;
}

.base__texts {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
