.base {
  display: flex;
  flex-direction: column;
  padding: 32px 0 8px 0;
  width: 100%;
}

.base__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0;
  overflow: auto;
}

.base__header {
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 0 32px 8px 32px;
}
